[Desktop Entry]
Name=My Wallet
Name[fr]=Mon portefeuille
Comment=Personnal wallet
Comment[fr]=Portefeuille personnel
Exec=QT_QUICK_CONTROLS_STYLE='org.kde.desktop' MyWallet
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=true
